!.gitkeep
!.gitignore
.DS_Store
.gradle
.idea
.project
.settings
build/android-profile/*
build/*
iWitness/build/*
Foundation/build/
/local.properties
/iWitness/iWitness.iml
/.idea/libraries/transition_25_3_1.xml
/.idea/libraries/support_vector_drawable_25_3_1.xml
/.idea/libraries/support_v4_25_3_1.xml
/.idea/libraries/support_media_compat_25_3_1.xml
/.idea/libraries/support_fragment_25_3_1.xml
/.idea/libraries/support_core_utils_25_3_1.xml
/.idea/libraries/support_core_ui_25_3_1.xml
/.idea/libraries/support_compat_25_3_1.xml
/.idea/libraries/support_annotations_25_3_1.xml
/.idea/libraries/recyclerview_v7_25_3_1.xml
/.idea/libraries/play_services_tasks_10_0_1.xml
/.idea/libraries/play_services_maps_10_0_1.xml
/.idea/libraries/play_services_location_10_0_1.xml
/.idea/libraries/play_services_iid_10_0_1.xml
/.idea/libraries/play_services_identity_10_0_1.xml
/.idea/libraries/play_services_gcm_10_0_1.xml
/.idea/libraries/play_services_gass_10_0_1.xml
/.idea/libraries/play_services_clearcut_10_0_1.xml
/.idea/libraries/play_services_basement_10_0_1.xml
/.idea/libraries/play_services_base_10_0_1.xml
/.idea/libraries/play_services_auth_base_10_0_1.xml
/.idea/libraries/play_services_auth_10_0_1.xml
/.idea/libraries/play_services_ads_lite_10_0_1.xml
/.idea/libraries/play_services_ads_10_0_1.xml
/.idea/libraries/percent_25_3_1.xml
/.idea/libraries/org_apache_http_legacy_android_25.xml
/.idea/libraries/multidex_instrumentation_1_0_1.xml
/.idea/libraries/multidex_1_0_1.xml
/.idea/libraries/library_2_4_1.xml
/.idea/libraries/design_25_3_1.xml
/.idea/libraries/customtabs_25_3_1.xml
/.idea/libraries/constraint_layout_solver_1_0_2.xml
/.idea/libraries/constraint_layout_1_0_2.xml
/.idea/libraries/cardview_v7_25_3_1.xml
/.idea/libraries/butterknife_8_0_1.xml
/.idea/libraries/appcompat_v7_25_3_1.xml
/.idea/libraries/animated_vector_drawable_25_3_1.xml
